// Width

$container-width: 1460px;

// fonts

$main-font: "Roboto", sans-serif;

// Colors

$link-color: #8d8c8b;
$button-color: #ff8541;
$active-link: #1c1917;
$white-color: #fff;
$black-color: #000;
$block-color: #f9f8f6;
$porograph-color: #555351;